*{
    margin: 0;
    padding: 0;
}
.footer-container1{
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    padding-left: 80px;
}
.footer-container1>.footer-container1-col1{
    width: 400px;
    height: 400px;
    padding: 20px 25px;
}
.footer-container1>.footer-container1-col1>.contact{
    margin-bottom: 100px;
}
.footer-container1>.footer-container1-col1>.contact>h4{
    color: white;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 550;
}
.footer-container1>.footer-container1-col1>.contact>span{
    color: rgb(200, 200, 200);
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 5px;
}
.footer-container1>.footer-container1-col1>.contact>span>i{
    padding-right: 10px;
}
.footer-container1>.footer-container1-col1>.openingtimes>h4{
    color: white;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 550;
}
.footer-container1>.footer-container1-col1>.openingtimes>span{
    color: rgb(200, 200, 200);
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 20px;
}
.footer-container1>.footer-container1-col2{
    width: 400px;
    height: 400px;
    padding: 20px 25px;
}
.footer-container1>.footer-container1-col2>h4{
    color: white;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-weight: 550;
}
.footer-container1>.footer-container1-col2>span{
    line-height: 15px;
}
.footer-container1>.footer-container1-col2>span>i{
    color: white;
    padding-right: 7px;
}
.footer-container1>.footer-container1-col2>span>a{
    color: red;
    font-size: 15px;
    text-decoration: none;
}
.link{
    color: red;
    text-decoration: none;
    font-size: 13px;
}
.blog{
    color: rgb(200, 200, 200);
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 15px;
}
.date{
    color: rgb(131, 131, 131);
    font-size: 9px;
}
.footer-containter2{
    background-color: rgb(17, 17, 17);
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.footer-containter2>.footer-icon{
    text-align: left;
    margin-left: 30px;
}
.footer-containter2>.footer-icon>a>i{
    color: white;
    font-size: 20px;
    padding: 0 8px;
}
.footer-containter2>.footer-icon>a>i:hover{
    color: red;
}
.sentence{
    text-align: right;
    margin-right: 30px;
}
.sentence>a{
    text-decoration: none;
    color: white;
}
.sentence>a:hover{
    color: red;
}
.footer-container1-col3{
    width: 400px;
    height: 400px;
    padding: 20px 25px;
}
.footer-container1-col3>h4{
    color: white;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-weight: 550;
    margin: 0 15px 20px 15px;
}
.gallery1 {
    margin: 0 15px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 5px;
}
.gallery1>img {
    width: 100%;
    height: 100%;
    object-position: center;
    transition-duration: 0.1s;
}
.gallery1>img:hover {
    transform: scale(1.1);
}
.gallery1__img1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery1__img2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery1__img3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery1__img4{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery1__img5{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery1__img6{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery1__img7{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
.gallery1__img8{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.gallery1__img9{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}