*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.backgroundheader{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.35);
} 

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000 ;
    background: rgba(0, 0, 0, 0.5);
}
#chk1{
    display: none;
}
i{
    color: #fff;
    cursor: pointer;
}

.logo{
    width: 55px;
    height: 55px;
    margin-left: 55px;
    border-radius: 1000px;
}
header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header>ul>li{
    list-style: none;
}
header>ul>li>a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 10px 15px;
}
header>ul>li>a:hover{
    color: rgb(208, 75, 78);
}
header>ul>li>a>i:hover{
    color: rgb(208, 75, 78);;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width: 1000px){
    header ul{
        position: fixed;
        top: 100px;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu{
        display: block;
        width: 100%;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right:0;
    }
}
@media(max-width:600px){
    header.logo{
        font-size: 10px;
        margin-left: 8px;
    }
    header.ul{
        width: 100%;
    }
}
